asgiref==3.4.1
asn1crypto==0.24.0
backcall==0.2.0
base==1.0.4
boto3==1.17.109
botocore==1.20.109
certifi==2021.5.30
chardet==4.0.0
click==6.7
Django==3.2.5
django-advanced-filters==1.3.0
django-braces==1.14.0
django-storages==1.11.1
django-utils-six==2.0
djangorestframework==3.12.4
Pillow==5.1.0
prompt-toolkit==3.0.19
protobuf==3.0.0
psutil==5.4.2
psycopg2==2.9.1
psycopg2-binary==2.9.1
requests==2.25.1
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.6
usb-creator==0.3.3
uWSGI==2.0.19.1
